<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<div th:replace="~{ navbar.html::navbar }"></div>

<h1>판매글 작성하기</h1>
<form id="itemForm" action="/post" method="POST">
    <input name="title"  placeholder="게시글 제목" required>
    <input type="number" min="100" name="price" placeholder="가격" required>
    <input name="content" placeholder="설명" required>
    <input name="username" type="hidden" th:value="김테스">
    <button type="submit">등록</button>
</form>
</body>
</html>